.first {
  padding: 10px;
  height: 26%;
  border-bottom: 0.5px solid rgba(5, 7, 6, 0.099);
}
.days {
  font-size: 24px;
  text-align: center;
  width: 100%;
  padding: 10px;
  height: 10%;
  color: greenyellow;
  border-bottom: 0.5px solid rgba(5, 7, 6, 0.099);
}
.clock {
  background-color: rgba(4, 9, 28, 0.06);
}
.middle-time {
  padding: 10px;
  height: 16%;
  border-bottom: 0.5px solid rgba(5, 7, 6, 0.099);
}
.border-bottom-none {
  border-bottom: none;
}
.last {
  padding: 5px;
  height: 5%;
  background-color: rgba(4, 9, 28, 0.06);
}
.border-top {
  border-top: 0.5px solid rgba(5, 7, 6, 0.099);
}
.last-time {
  padding: 10px;
  height: 21%;
}
.center-table {
  padding: 10px;
  height: 16%;
  border-bottom: 0.5px solid rgba(5, 7, 6, 0.099);
}
.big-column {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  height: 80%;
  font-weight: 700;
}
.print {
  padding: 5px;
  height: 10%;
  background-color: rgba(4, 9, 28, 0.06);
}
.dashboard-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-item:not(:first-child):not(:last-child) {
  border-right: 0.5px solid rgba(5, 7, 6, 0.099);
}
.big-column__desc {
  display: block;
  font-size: 40px;
  line-height: 40px;
  transform: rotate(-90deg);
}
.big-column__wrapper {
  width: 400px;
}
/* .list-item:nth-child(n + 3) {
  border-left: 1px solid lemonchiffon;
} */
