body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*,
::after,
::before {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.list {
  width: 1000px;
  margin-top: 100px;
  display: flex;
  -webkit-box-shadow: 0px 3px 38px -7px rgba(90, 91, 104, 0.3);
  -moz-box-shadow: 0px 3px 38px -7px rgba(90, 91, 104, 0.3);
  box-shadow: 0px 3px 38px -7px rgba(90, 91, 104, 0.3);
}
.list li {
  height: 600px;
  display: flex;
  flex-direction: column;
}

.first {
  padding: 10px;
  height: 26%;
  border-bottom: 0.5px solid rgba(5, 7, 6, 0.099);
}
.days {
  font-size: 24px;
  text-align: center;
  width: 100%;
  padding: 10px;
  height: 10%;
  color: greenyellow;
  border-bottom: 0.5px solid rgba(5, 7, 6, 0.099);
}
.clock {
  background-color: rgba(4, 9, 28, 0.06);
}
.middle-time {
  padding: 10px;
  height: 16%;
  border-bottom: 0.5px solid rgba(5, 7, 6, 0.099);
}
.border-bottom-none {
  border-bottom: none;
}
.last {
  padding: 5px;
  height: 5%;
  background-color: rgba(4, 9, 28, 0.06);
}
.border-top {
  border-top: 0.5px solid rgba(5, 7, 6, 0.099);
}
.last-time {
  padding: 10px;
  height: 21%;
}
.center-table {
  padding: 10px;
  height: 16%;
  border-bottom: 0.5px solid rgba(5, 7, 6, 0.099);
}
.big-column {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  height: 80%;
  font-weight: 700;
}
.print {
  padding: 5px;
  height: 10%;
  background-color: rgba(4, 9, 28, 0.06);
}
.dashboard-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-item:first-child {
  width: 9%;
}
.list-item:not(:first-child):not(:last-child) {
  border-right: 0.5px solid rgba(5, 7, 6, 0.099);
}
.list-item:not(:first-child) {
  width: 13%;
}
/* .list-item:not(:first-child):not(:last-child):hover,
.list-item:not(:first-child):not(:last-child):focus {
  border-right: none;
  outline: 2px solid orange;
} */
.big-column__desc {
  display: block;
  font-size: 40px;
  line-height: 40px;
  transform: rotate(-90deg);
}
.big-column__wrapper {
  width: 400px;
}
.list-link {
  width: 100%;
  height: 100%;
}
.list-link:focus {
  pointer-events: none;
  outline: 2px solid orange;
}
.week-wrapper {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.week-button {
  padding: 20px 10px;
  border: 1px solid burlywood;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: transparent;
}
.week-button:hover,
.week-button:focus {
  background-color: orange;
  color: palegreen;
}
.week-name {
  font-size: 30px;
  margin: 0 30px;
}
